/*  Content block  */
.div_content1 {
	width: 70%;
	height: 50em;

	border-top:4px solid #FFFFFF; 
	border-left:4px solid #FFFFFF; 
	border-right:4px solid #555555; 
	border-bottom:4px solid #555555; 
	border-radius: 35px;

	background-color: #EEEEEE;
	font-size: 1.8em;

	overflow: hidden;
	text-align: left;

	margin-top: 1.5em;
	padding:0;
	padding-left:  1em;
	padding-right:  1em;
}

