/*  Navigation list  */
.div_navigation1 {
	width:75%;
	height:2em;

	border-top:solid white 4px; 
	border-left:solid white 4px; 
	border-right:solid gray 4px; 
	border-bottom:solid gray 4px; 
	border-radius: 15px;

	font-size: 1.8em;
	font-weight: bold;
	font-family: Times, serif;

	background-color:rgb( 240, 230, 170 );
	color:rgb( 0, 140, 70 );

	overflow: hidden;

	margin-top: 0.5em;
	padding:0;
}

.div_navigation1 ul {
	list-sytle-type: none;
	margin-top: 0.5em;
	padding: 0;
	overflow:hidden;
}

.div_navigation1 li {
	display: inline;
	width: 8em;

	background-color:rgb( 240, 230, 170 );
	color: #00AA00;
	padding: 0;
	margin-right: 2em;
}

.div_navigation1 a {
	color: #00AA00;
	text-decoration:  none;
}

.div_navigation1 a:hover {
	color: #0000AA;
	background-color: #CCDD00;
	text-decoration:  underline;
	position: relative;
	top: 2px;
	left: 2px;
}

