/*  Marqueue */
.div_marqueue1 {
	width: 67%;
	height: 20%;

	border-top:4px solid #FFFFFF; 
	border-left:4px solid #FFFFFF; 
	border-right:4px solid #555555; 
	border-bottom:4px solid #555555; 

	background-color: #eecc44;

	overflow: hidden;
	margin: 0.1em 0.1em 0.5em 0.3em;
	padding:0;
	padding-left:0;
	padding-right:0;
}

.div_marqueue1 marquee {
	position: relative;
	top: 0.2em;
}

